// God's in his heaven, all's right with the world.

@sizeListBody: 7vh 86vh 7vh;
@sizeListHeader: 8% 7% 6% 9% 8% 54% 8%;

:root {
  --background: #171717;
  --primary: #C12915;
  --secondary: #A9A7A7;
  --accent: #DB310A;
  --text: #FFFFFF;
  --stroke: #373737;
  --heading: "Fira Code", monospace;
  --body: "JetBrains Mono", monospace;
  --body-size: 10pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
}

body {

  main {
    display: grid;
    grid-template-rows: @sizeListBody;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    left: 0;
    backdrop-filter: blur(55px);

    header {
      width: 100%;
      height: 7vh;
      display: grid;
      grid-template-columns: @sizeListHeader;
      grid-template-rows: 1fr;

      .current {
        border-bottom: 3px solid var(--accent);
      }

      button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-family: var(--body);
        font-size: var(--body-size);
        font-weight: 300;
        border-bottom: 2px solid var(--stroke);

        &:hover {}

        &:not(&:first-child) {
          justify-self: center;
        }

        &:nth-child(3) {
          border-left: 2px solid var(--stroke);
          border-right: 1px solid var(--stroke);
        }

        &:nth-child(4) {
          border-left: 1px solid var(--stroke);
          border-right: 1px solid var(--stroke);
        }

        &:nth-child(5) {
          border-left: 1px solid var(--stroke);
          border-right: 1px solid var(--stroke);
        }

        &:nth-child(6) {
          border-left: 1px solid var(--stroke);
          border-right: 1px solid var(--stroke);
        }

        &:last-child {
          border-left: 1px solid var(--stroke);
        }
      }
    }

    #contentBody {
      display: grid;
      grid-template-columns: 65% 35%;
      height: 86vh;
      width: 100%;
      align-items: center;

      #text {
        justify-self: center;
        text-align: left;

        h4 {
          font-family: var(--body);
          font-size: var(--body-size);
          font-weight: 300;
        }

        h1 {
          font-family: var(--heading);
          font-size: 50pt;
          font-weight: 350;
          line-height: 1.1;
        }

        h3 {
          font-family: var(--heading);
          font-size: 20pt;
        }
      }

      #euMermo {
        align-self: center;
      }
    }

    footer {
      grid-row: 3;
      width: 100%;
      height: 7vh;
    }
  }

  #background {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: var(--background);
    background-image: url("assets/bg_light.png");
    background-repeat: no-repeat;
    background-size: 100% 86vh;
    background-position: center;
  }

}